// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2023 Hardkernel Co., Ltd.
 *
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/input/rk-input.h>
#include <dt-bindings/display/drm_mipi_dsi.h>
#include <dt-bindings/display/rockchip_vop.h>
#include <dt-bindings/sensor-dev.h>
#include <dt-bindings/input/rk-ir.h>
#include "rk3566.dtsi"
#include "rk3568-linux.dtsi"

/ {
	model = "RK3566 HeJiaQing";
	compatible = "rockchip,rk3566";





	pdmics: dummy-codec {
		status = "disabled";
		compatible = "rockchip,dummy-codec";
		#sound-dai-cells = <0>;
	};

	pdm_mic_array: pdm-mic-array {
		status = "disabled";
		compatible = "simple-audio-card";
		simple-audio-card,name = "rockchip,pdm-mic-array";
		simple-audio-card,cpu {
			sound-dai = <&pdm>;
		};
		simple-audio-card,codec {
			sound-dai = <&pdmics>;
		};
	};

	spdif_sound: spdif-sound {
		status = "disabled";
		compatible = "simple-audio-card";
		simple-audio-card,name = "ROCKCHIP,SPDIF";
		simple-audio-card,cpu {
			sound-dai = <&spdif_8ch>;
		};
		simple-audio-card,codec {
			sound-dai = <&spdif_out>;
		};
	};

	spdif_out: spdif-out {
		status = "disabled";
		compatible = "linux,spdif-dit";
		#sound-dai-cells = <0>;
	};

	rk_headset: rk-headset {
		compatible = "rockchip_headset";
		headset_gpio = <&gpio1 RK_PA2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&hp_det>;
		io-channels = <&saradc 3>;	//HP_HOOK
	};
/*
	rk3566-gpiomem {
		compatible = "rockchip,rk3566-gpiomem", "rockchip,rk3568-gpiomem";
		reg = <0x0 0xfd660000 0x0 0x1000>;
		status = "okay";
	};
*/
	/* labeled +12v in schematic */
	vcc12v_dcin: vcc12v-dcin-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc12v_dcin";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	/* labeled +5v in schematic */
//+++	
	vcc_5v: vcc-5v-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_5v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc12v_dcin>;
	};

	vbus: vbus {
		compatible = "regulator-fixed";
		regulator-name = "vbus";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};
//++++	
/*	
	hdmi_sound: hdmi-sound {
//		compatible = "simple-audio-card";
		compatible = "rockchip,hdmi";		
//		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <128>;
		simple-audio-card,name = "rockchip,hdmi";
		status = "okay";
		
		rockchip,cpu = <&i2s0_8ch>;
		rockchip,codec = <&hdmi>;	
	};
*/	
	hdmi_sound: hdmi-sound {
		compatible = "simple-audio-card";
//		compatible = "rockchip,hdmi";		
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <128>;
		simple-audio-card,name = "rockchip,hdmi";
		status = "okay";		

		simple-audio-card,cpu {
				sound-dai = <&i2s0_8ch>;
		};
		simple-audio-card,codec {
				sound-dai = <&hdmi>;
		};
		
	};	

	leds: leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
//		pinctrl-0 =<&leds_gpio>;

		led@1 {
			gpios = <&gpio0 RK_PB7 GPIO_ACTIVE_HIGH>;
			label = "status_led";
			linux,default-trigger = "heartbeat";
		};
	};

	rk809_sound: rk809-sound {
		status = "disabled";		
		compatible = "rockchip,multicodecs-card";
		rockchip,card-name = "rockchip-rk809";
		hp-det-gpio = <&gpio4 RK_PB3 GPIO_ACTIVE_LOW>;
		rockchip,format = "i2s";
		rockchip,mclk-fs = <256>;
		rockchip,cpu = <&i2s1_8ch>;
		rockchip,codec = <&rk809_codec>;
		pinctrl-names = "default";
		pinctrl-0 = <&hp_det>;
	};

	spdif-sound {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,name = "ROCKCHIP,SPDIF";
		simple-audio-card,cpu {
				sound-dai = <&spdif_8ch>;
		};
		simple-audio-card,codec {
				sound-dai = <&spdif_out>;
		};
	};

	spdif_out: spdif-out {
			status = "okay";
			compatible = "linux,spdif-dit";
			#sound-dai-cells = <0>;
	};

	vad_sound: vad-sound {
		status = "disabled";
		compatible = "rockchip,multicodecs-card";
		rockchip,card-name = "rockchip,rk3568-vad";
		rockchip,cpu = <&i2s1_8ch>;
		rockchip,codec = <&rk809_codec>, <&vad>;
	};	
	
	vcc3v3_sys: vcc3v3-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc12v_dcin>;
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc12v_dcin>;
	};

	vcc5v0_usb: vcc5v0-usb {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usb";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc12v_dcin>;
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&rk809 1>;
		clock-names = "ext_clock";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_enable_h>;
		post-power-on-delay-ms = <200>;
		reset-gpios = <&gpio2 RK_PB1 GPIO_ACTIVE_LOW>;
	};

	test-power {
		status = "okay";
	};

	wireless_wlan: wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&grf>;
		wifi_chip_type = "ap6398s";
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_host_wake_irq>; 
		WIFI,host_wake_irq = <&gpio2 RK_PB2 GPIO_ACTIVE_HIGH>;
	};

	wireless_bluetooth: wireless-bluetooth {
		compatible = "bluetooth-platdata";
		clocks = <&rk809 1>;
		clock-names = "ext_clock";
		//wifi-bt-power-toggle;
		uart_rts_gpios = <&gpio2 RK_PB5 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default", "rts_gpio";
		pinctrl-0 = <&uart1m0_rtsn>;
		pinctrl-1 = <&uart1_gpios>;
//		wakeup-source;
		BT,reset_gpio    = <&gpio2 RK_PB7 GPIO_ACTIVE_HIGH>;
		BT,wake_gpio     = <&gpio2 RK_PC1 GPIO_ACTIVE_HIGH>;
		BT,wake_host_irq = <&gpio2 RK_PC0 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	vcc5v0_host: vcc5v0-host-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_host";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;		
		enable-active-high;
		gpio = <&gpio0 RK_PA6 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_usb>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_host_en>;
	};

	vcc5v0_otg: vcc5v0-otg-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_otg";		
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;	
		gpio = <&gpio0 RK_PA5 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_usb>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_otg_en>;
	};

	vcc3v3_pcie: gpio-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpio = <&gpio0 RK_PC2 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <5000>;
		vin-supply = <&vcc12v_dcin>;
		status = "disabled";
	};
	
};

&bus_npu {
	bus-supply = <&vdd_logic>;
	pvtm-supply = <&vdd_cpu>;
	status = "okay";
};

&cpu0 {
	cpu-supply = <&vdd_cpu>;
};

&dfi {
	status = "okay";
};

&dmc {
	center-supply = <&vdd_logic>;
	status = "okay";
};

&gpu {
//	clock-names = "gpu", "bus";
//	interrupt-names = "gpu", "mmu", "job";
	mali-supply = <&vdd_gpu>;
	status = "okay";
};

&display_subsystem {
    status = "okay";
};

&hdmi {
	status = "okay";
	rockchip,phy-table =
		<92812500  0x8009 0x0000 0x0270>,
		<165000000 0x800b 0x0000 0x026d>,
		<185625000 0x800b 0x0000 0x01ed>,
		<297000000 0x800b 0x0000 0x01ad>,
		<594000000 0x8029 0x0000 0x0088>,
		<000000000 0x0000 0x0000 0x0000>;
};

&hdmi_in_vp0 {
	status = "okay";
};

&hdmi_in_vp1 {
	status = "disabled";
};

&hdmi_sound {
	status = "okay";
};


&i2c0 {
	status = "okay";

	rk809: pmic@20 {
		compatible = "rockchip,rk809";
		reg = <0x20>;
		interrupt-parent = <&gpio0>;
		interrupts = <3 IRQ_TYPE_LEVEL_LOW>;

		pinctrl-names = "default", "pmic-sleep",
				"pmic-power-off", "pmic-reset";
		pinctrl-0 = <&pmic_int>;
		pinctrl-1 = <&soc_slppin_slp>, <&rk817_slppin_slp>;
		pinctrl-2 = <&soc_slppin_gpio>, <&rk817_slppin_pwrdn>;
		pinctrl-3 = <&soc_slppin_gpio>, <&rk817_slppin_rst>;

		rockchip,system-power-controller;
		wakeup-source;
		#clock-cells = <1>;
		clock-output-names = "rk808-clkout1", "rk808-clkout2";
		//fb-inner-reg-idxs = <2>;
		/* 1: rst regs (default in codes), 0: rst the pmic */
		pmic-reset-func = <0>;
		/* not save the PMIC_POWER_EN register in uboot */
		not-save-power-en = <1>;

		vcc1-supply = <&vcc3v3_sys>;
		vcc2-supply = <&vcc3v3_sys>;
		vcc3-supply = <&vcc3v3_sys>;
		vcc4-supply = <&vcc3v3_sys>;
		vcc5-supply = <&vcc3v3_sys>;
		vcc6-supply = <&vcc3v3_sys>;
		vcc7-supply = <&vcc3v3_sys>;
		vcc8-supply = <&vcc3v3_sys>;
		vcc9-supply = <&vcc3v3_sys>;

		pwrkey {
			status = "okay";
		};

		pinctrl_rk8xx: pinctrl_rk8xx {
			gpio-controller;
			#gpio-cells = <2>;

			rk817_slppin_null: rk817_slppin_null {
				pins = "gpio_slp";
				function = "pin_fun0";
			};

			rk817_slppin_slp: rk817_slppin_slp {
				pins = "gpio_slp";
				function = "pin_fun1";
			};

			rk817_slppin_pwrdn: rk817_slppin_pwrdn {
				pins = "gpio_slp";
				function = "pin_fun2";
			};

			rk817_slppin_rst: rk817_slppin_rst {
				pins = "gpio_slp";
				function = "pin_fun3";
			};
		};

		regulators {
			vdd_logic: DCDC_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1350000>;
				regulator-init-microvolt = <900000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;
				regulator-name = "vdd_logic";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_gpu: DCDC_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1350000>;
				regulator-init-microvolt = <900000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;
				regulator-name = "vdd_gpu";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_ddr: DCDC_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-initial-mode = <0x2>;
				regulator-name = "vcc_ddr";
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vdd_npu: DCDC_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1350000>;
				regulator-init-microvolt = <900000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;
				regulator-name = "vdd_npu";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda0v9_image: LDO_REG1 {
				regulator-boot-on;
				regulator-always-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-name = "vdda0v9_image";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda_0v9: LDO_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-name = "vdda_0v9";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda0v9_pmu: LDO_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-name = "vdda0v9_pmu";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <900000>;
				};
			};

			vccio_acodec: LDO_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vccio_acodec";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vccio_sd: LDO_REG5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vccio_sd";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_pmu: LDO_REG6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc3v3_pmu";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vcca_1v8: LDO_REG7 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcca_1v8";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcca1v8_pmu: LDO_REG8 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcca1v8_pmu";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcca1v8_image: LDO_REG9 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcca1v8_image";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v8: DCDC_REG5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc_1v8";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_3v3: SWITCH_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc_3v3";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_sd: SWITCH_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc3v3_sd";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};

		rk809_codec: codec {
			#sound-dai-cells = <0>;
			compatible = "rockchip,rk809-codec", "rockchip,rk817-codec";
			clocks = <&cru I2S1_MCLKOUT>;
			clock-names = "mclk";
			assigned-clocks = <&cru I2S1_MCLKOUT>, <&cru I2S1_MCLK_TX_IOE>;
			assigned-clock-rates = <12288000>;
			assigned-clock-parents = <&cru I2S1_MCLKOUT_TX>, <&cru I2S1_MCLKOUT_TX>;
			pinctrl-names = "default";
//			pinctrl-0 = <&i2s1m0_mclk>;
			hp-volume = <20>;
			spk-volume = <3>;
			mic-in-differential;
			status = "okay";
		};
	};

	vdd_cpu: syr827@40 {
		compatible = "silergy,syr827";
		reg = <0x40>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "fan53555-reg";
//?		pinctrl-names = "default";
		pinctrl-0 = <&vsel1_gpio>;
		vsel-gpios = <&gpio0 RK_PA2 GPIO_ACTIVE_HIGH>;
		regulator-name = "vdd_cpu";
		regulator-min-microvolt = <712500>;
		regulator-max-microvolt = <1500000>;
//		regulator-init-microvolt = <900000>;
		regulator-ramp-delay = <1000>;
		fcs,suspend-voltage-selector = <1>;
		regulator-always-on;
		regulator-boot-on;
		regulator-initial-state = <3>;
			regulator-state-mem {
			regulator-on-in-suspend;
			regulator-suspend-microvolt = <900000>;
		};
	};	
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	pinctrl-0 = <&i2c2m1_xfer>;
	status = "okay";
};

&uart0 {
	status = "disabled";
};

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart1m0_xfer &uart1m0_ctsn>;
};

&i2s0_8ch {
	status = "okay";
};

&i2s1_8ch {
	status = "disabled";
	rockchip,clk-trcm = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2s1m0_sclktx
		     &i2s1m0_lrcktx
		     &i2s1m0_sdi0
		     &i2s1m0_sdo0>;
};


&i2s3_2ch{
	pinctrl-0 = <&i2s3m1_sclk
		     &i2s3m1_lrck
		     &i2s3m1_sdi
		     &i2s3m1_sdo>;	
	status = "okay";
};

&iep {
	status = "okay";
};

&iep_mmu {
	status = "okay";
};

&jpegd {
	status = "okay";
};

&jpegd_mmu {
	status = "okay";
};

&mpp_srv {
	status = "okay";
};



&rockchip_suspend {
	status = "okay";
	rockchip,virtual-poweroff = <1>;
	rockchip,sleep-debug-en = <1>;
	rockchip,sleep-mode-config = <0x4c4>;
//	rockchip,wakeup-config = <0x2001>;
/*
	rockchip,sleep-mode-config = <
		(0 
		| RKPM_SLP_CENTER_OFF 
		| RKPM_SLP_HW_PLLS_OFF
		)
	>;
*/
	rockchip,wakeup-config = <
		(0 | RKPM_PWM0_WKUP_EN | RKPM_CPU0_WKUP_EN
		)
	>;
};

&vdd_logic {
	regulator-state-mem {
		/delete-property/ regulator-off-in-suspend;
		regulator-on-in-suspend;
		regulator-suspend-microvolt = <1350000>;
	};	
};

&vcc_1v8 {
	regulator-state-mem {
		/delete-property/ regulator-off-in-suspend;
		regulator-on-in-suspend;
		regulator-suspend-microvolt = <1800000>;
	};	
};

&vcc_3v3 {
	regulator-state-mem {
		regulator-on-in-suspend;		
	};	
};

&vcc3v3_sd {
	regulator-state-mem {
		regulator-on-in-suspend;		
	};	
};


&pinctrl {

	pmic {
		pmic_int: pmic_int {
			rockchip,pins =
				<0 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		soc_slppin_gpio: soc_slppin_gpio {
			rockchip,pins =
				<0 RK_PA2 RK_FUNC_GPIO &pcfg_output_low_pull_down>;
		};

		soc_slppin_slp: soc_slppin_slp {
			rockchip,pins =
				<0 RK_PA2 1 &pcfg_pull_up>;
		};

		soc_slppin_rst: soc_slppin_rst {
			rockchip,pins =
				<0 RK_PA2 2 &pcfg_pull_none>;
		};
		
		vsel1_gpio: vsel1-gpio {
			rockchip,pins = <0 RK_PA2 0 &pcfg_pull_down>;
		};		
		
	};
	

	sdio-pwrseq {
		wifi_enable_h: wifi-enable-h {
			rockchip,pins = <2 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb {
		vcc5v0_host_en: vcc5v0-host-en {
			rockchip,pins = <0 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		vcc5v0_otg_en: vcc5v0-otg-en {
			rockchip,pins = <0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	
    wireless-bluetooth {
        uart8_gpios: uart8-gpios {
            rockchip,pins = <2  RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
        };	
	
        uart1_gpios: uart1-gpios {
            rockchip,pins = <2  RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
        };
	
	};	

	headphone {
		hp_det: hp-det {
			rockchip,pins = <1 RK_PA2 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};
	
	wireless-wlan {
		wifi_host_wake_irq: wifi-host-wake-irq {
			rockchip,pins = <2 RK_PB2 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};		


};

 /*
  * There are 10 independent IO domains in RK3566/RK3568, including PMUIO[0:2] and VCCIO[1:7].
  * 1/ PMUIO0 and PMUIO1 are fixed-level power domains which cannot be configured;
  * 2/ PMUIO2 and VCCIO1,VCCIO[3:7] domains require that their hardware power supply voltages
  *    must be consistent with the software configuration correspondingly
  *	a/ When the hardware IO level is connected to 1.8V, the software voltage configuration
  *	   should also be configured to 1.8V accordingly;
  *	b/ When the hardware IO level is connected to 3.3V, the software voltage configuration
  *	   should also be configured to 3.3V accordingly;
  * 3/ VCCIO2 voltage control selection (0xFDC20140)
  *	BIT[0]: 0x0: from GPIO_0A7 (default)
  *	BIT[0]: 0x1: from GRF
  *    Default is determined by Pin FLASH_VOL_SEL/GPIO0_A7:
  *	L:VCCIO2 must supply 3.3V
  *	H:VCCIO2 must supply 1.8V
  */

&pmu_io_domains {
        status = "okay";
        pmuio2-supply = <&vcc_3v3>;
        vccio1-supply = <&vcc_3v3>;
		vccio2-supply = <&vcc_1v8>;
        vccio4-supply = <&vcc_3v3>;
        vccio5-supply = <&vcc_3v3>;
        vccio6-supply = <&vcc_1v8>;
        vccio7-supply = <&vcc_3v3>;
};

&rk_rga {
	status = "okay";
};

&rkvdec {
	status = "okay";
};

&rkvdec_mmu {
	status = "okay";
};

&rkvenc {
	venc-supply = <&vdd_logic>;
	status = "okay";
};

&rkvenc_mmu {
	status = "okay";
};

&rknpu {
	rknpu-supply = <&vdd_npu>;
	status = "okay";
};

&rknpu_mmu {
	status = "okay";
};

&route_hdmi {
	status = "okay";
	connect = <&vp0_out_hdmi>;
};

&saradc {
	status = "okay";
	vref-supply = <&vcca_1v8>;
};

&sdhci {
	bus-width = <8>;
	no-sdio;
	no-sd;		
	supports-emmc;
	non-removable;
	max-frequency = <200000000>;
//	vmmc-supply = <&vcc_3v3>;
//	vqmmc-supply = <&vcc_1v8>;	
	status = "okay";
};


&sfc {
	status = "okay";
};


&tsadc {
	status = "okay";
};

&u2phy0_host {
	phy-supply = <&vcc5v0_host>;	
	status = "disabled";
};

&u2phy0_otg {
	vbus-supply = <&vcc5v0_otg>;
	status = "okay";
};

&u2phy1_host {
	phy-supply = <&vcc5v0_host>;
	status = "disabled";
};

&u2phy1_otg {
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&usb2phy0 {
	status = "okay";
};

&usb2phy1 {
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};
/*
&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};
*/
&usbdrd_dwc3 {
	dr_mode = "host";
	extcon = <&usb2phy0>;
	status = "okay";
};

&usbdrd30 {
	status = "okay";
};

&usbhost_dwc3 {
	status = "disabled";
};

&usbhost30 {
	status = "disabled";
};

&vad {
	rockchip,audio-src = <&i2s1_8ch>;
	rockchip,buffer-time-ms = <128>;
	rockchip,det-channel = <0>;
	rockchip,mode = <0>;
};

&vdpu {
	status = "okay";
};

&vdpu_mmu {
	status = "okay";
};

&vepu {
	status = "okay";
};

&vepu_mmu {
	status = "okay";
};

&vop {
	status = "okay";
	assigned-clocks = <&cru DCLK_VOP0>, <&cru DCLK_VOP1>;
	assigned-clock-parents = <&pmucru PLL_HPLL>, <&cru PLL_VPLL>;
};

&vop_mmu {
	status = "okay";
};

&mdio1 {
	rgmii_phy0: phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
	};
};

&gmac1 {
	phy-mode = "rmii";	
	clock_in_out = "output";

	snps,reset-gpio = <&gpio3 RK_PA1 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
	assigned-clock-parents = <&cru SCLK_GMAC1_RMII_SPEED>;
	assigned-clock-rates = <0>, <25000000>;

	pinctrl-names = "default";
	pinctrl-0 = <&gmac1m0_miim
		     &gmac1m0_clkinout
			 &gmac1m0_rx_bus2
		     &gmac1m0_tx_bus2>;

	tx_delay = <0x4f>;
	rx_delay = <0x25>;

	phy-handle = <&rgmii_phy0>;
	status = "okay";
};

&sdmmc1 {
	max-frequency = <150000000>;
	supports-sdio;
	bus-width = <4>;
	disable-wp;
	cap-sd-highspeed;
	cap-sdio-irq;
	keep-power-in-suspend;
	mmc-pwrseq = <&sdio_pwrseq>;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc1_bus4 &sdmmc1_cmd &sdmmc1_clk>;
	sd-uhs-sdr104;
	status = "okay";
};

&combphy1_usq {
	status = "disabled";
};

&combphy2_psq {
	status = "disabled";
};

/* 5.10 pansoft

&vp0 {
	rockchip,plane-mask = <(1 << ROCKCHIP_VOP2_CLUSTER0 | 1 << ROCKCHIP_VOP2_ESMART0 | 1 <<
	ROCKCHIP_VOP2_SMART0 | 1 << ROCKCHIP_VOP2_CLUSTER1 | 1 << ROCKCHIP_VOP2_ESMART1 | 1 <<
	ROCKCHIP_VOP2_SMART1)>;
	rockchip,primary-plane = <ROCKCHIP_VOP2_SMART0>;
};
*/


&csi2_dphy_hw {
      status = "disabled";
};

&csi2_dphy0 {
        status = "disabled";
};

&csi2_dphy1 {
        status = "disabled";
};

&rkisp {
        status = "disabled";
};

&rkisp_mmu {
        status = "disabled";
};

&rkisp_vir0 {
        status = "disabled";
};

&edp {
	status = "disabled";
};

&edp_phy {
	status = "disabled";
};

&route_edp {
	status = "disabled";
};

&pwm2 {
	status = "disabled";
};

&pwm3 {
	compatible = "rockchip,remotectl-pwm";
	pinctrl-names = "default";	
	pinctrl-0 = <&pwm3_pins>;
	remote_pwm_id = <3>;
	handle_cpu_id = <1>;
	remote_support_psci = <0>;
//	wakeup-source;
	status = "okay";
	
	ir_key1 { //jp-box
		rockchip,usercode = <0xfd01>;
		rockchip,key_table =
//			<0x31   KEY_REPLY>,
			<0x31	KEY_ENTER>,
			<0x2f   KEY_BACK>,
			<0x35   KEY_UP>,
			<0x2d   KEY_DOWN>,
			<0x66   KEY_LEFT>,
			<0x3e   KEY_RIGHT>,
			<0x6a   KEY_HOME>,
			<0x5e   KEY_VOLUMEUP>,
			<0x47   KEY_VOLUMEDOWN>,
			<0x23   KEY_POWER>,
			<0x3a   388>,
//			<0x0d   KEY_O>;
			<0x0d   KEY_C>;
	};

	/*for IPTV ltjc*/
	ir_key2 {
		rockchip,usercode = <0xc43b>;
		rockchip,key_table =
			<0x7e	KEY_ENTER>,
			<0x7f	KEY_BACK>,
			<0x7a	KEY_UP>,
			<0x78	KEY_DOWN>,
			<0x7b	KEY_LEFT>,
			<0x79	KEY_RIGHT>,
			<0x66	KEY_VOLUMEUP>,
			<0x65	KEY_VOLUMEDOWN>,
			<0x69	KEY_POWER>,
			<0x64	KEY_MUTE>,
			<0x76	KEY_1>,
			<0x75	KEY_2>,
			<0x74	KEY_3>,
			<0x73	KEY_4>,
			<0x72	KEY_5>,
			<0x71	KEY_6>,
			<0x70	KEY_7>,
			<0x6f	KEY_8>,
			<0x6e	KEY_9>,
			<0x77	KEY_0>,
			<0x7c	KEY_PAGEDOWN>,
			<0x7d	KEY_PAGEUP>,
			<0x6a	KEY_SETUP>,
			<0x68	KEY_CHANNEL_UP>,
			<0x67	KEY_CHANNEL_DN>,
			<0x39	KEY_PORTAL>,
			<0x29	KEY_HOME_PAGE>,
			<0x33	KEY_CH_CUT_BACK>,
			<0x34   KEY_LOCAL>,
			<0x2d	KEY_REVIEW>,
			<0x2c	KEY_ON_DEMAND>,
			<0x2b	KEY_INFO1>,
			<0x2e	KEY_DIRECT_SEEDING>,
			<0x2d	KEY_REVIEW>,
			<0x2c	KEY_ON_DEMAND>,
			<0x2b	KEY_INFO1>,
			<0x63	KEY_SOUND1>,
			<0x6c	KEY_X1>,
			<0x6d	KEY_X2>,
			<0x62	KEY_PLAYPAUSE>,
			<0x6b	KEY_EQUAL>,
			<0x61	KEY_FASTFORWARD>,
			<0x60	KEY_REWIND>,
			<0x3b	KEY_STOP>,
			<0x35  KEY_BLUE>,
			<0x36  KEY_YELLOW>,
			<0x37  KEY_GREEN>,
			<0x38  KEY_RED>;
	};

	ir_key3 {
		rockchip,usercode = <0x1dcc>;
		rockchip,key_table =
			<0xee	KEY_ENTER>,
			<0xf0	KEY_BACK>,
			<0xf8	KEY_UP>,
			<0xbb	KEY_DOWN>,
			<0xef	KEY_LEFT>,
			<0xed	KEY_RIGHT>,
			<0xfc	KEY_HOME>,
			<0xf1	KEY_VOLUMEUP>,
			<0xfd	KEY_VOLUMEDOWN>,
			<0xb7	KEY_SEARCH>,
			<0xff	KEY_POWER>,
			<0xf3	KEY_MUTE>,
			<0xbf	KEY_MENU>,
			<0xf9	0x191>,
			<0xf5	0x192>,
			<0xb3	388>,
			<0xbe	KEY_1>,
			<0xba	KEY_2>,
			<0xb2	KEY_3>,
			<0xbd	KEY_4>,
			<0xf9	KEY_5>,
			<0xb1	KEY_6>,
			<0xfc	KEY_7>,
			<0xf8	KEY_8>,
			<0xb0	KEY_9>,
			<0xb6	KEY_0>,
			<0xb5	KEY_BACKSPACE>;
	};

	/* for IPTV */
	ir_key4 {
		rockchip,usercode = <0x4db2>;
		rockchip,key_table =
			<0x31   KEY_ENTER>,
			<0x3a   KEY_BACK>,
			<0x35   KEY_UP>,
			<0x2d   KEY_DOWN>,
			<0x66   KEY_LEFT>,
			<0x3e   KEY_RIGHT>,
			<0x7f   KEY_VOLUMEUP>,
			<0xfe   KEY_VOLUMEDOWN>,
			<0x23   KEY_POWER>,
			<0x63   KEY_MUTE>,
			<0x6d   KEY_1>,
			<0x6c   KEY_2>,
			<0x33   KEY_3>,
			<0x71   KEY_4>,
			<0x70   KEY_5>,
			<0x37   KEY_6>,
			<0x75   KEY_7>,
			<0x74   KEY_8>,
			<0x3b   KEY_9>,
			<0x78   KEY_0>,
			<0x73   KEY_PAGEDOWN>,
			<0x22   KEY_PAGEUP>,
			<0x72   KEY_SETUP>,
			<0x7a   KEY_CHANNEL_UP>,
			<0x79   KEY_CHANNEL_DN>,
			<0x77   KEY_HOME_PAGE>,
			<0x29   KEY_CH_CUT_BACK>,
			<0x32   KEY_DIRECT_SEEDING>,
			<0x6e   KEY_REVIEW>,
			<0x7c   KEY_ON_DEMAND>,
			<0x3c   KEY_INFO1>,
			<0x67   KEY_SOUND1>,
			<0x25   KEY_X1>,
			<0x2f   KEY_X2>,
			<0x7d   KEY_LOCAL>,
			<0x6a   KEY_PLAYPAUSE>,
			<0x0b   KEY_EQUAL>;
	};

	/* for CMCC */
	ir_key5 {
		rockchip,usercode = <0x1608>;
		rockchip,key_table =
			<0x4c   KEY_ENTER>,
			<0x4d   KEY_BACK>,
			<0x4b   KEY_UP>,
			<0x4a   KEY_DOWN>,
			<0x49   KEY_LEFT>,
			<0x48   KEY_RIGHT>,
			<0x4e   KEY_HOME>,
			<0x0b   KEY_VOLUMEUP>,
			<0x0c   KEY_VOLUMEDOWN>,
			<0x23   KEY_POWER>,
			<0x45   KEY_MUTE>,
			<0x44   KEY_MENU>,
			<0x78   KEY_1>,
			<0x77   KEY_2>,
			<0x76   KEY_3>,
			<0x75   KEY_4>,
			<0x74   KEY_5>,
			<0x73   KEY_6>,
			<0x72   KEY_7>,
			<0x71   KEY_8>,
			<0x70   KEY_9>,
			<0x79   KEY_0>,
			<0x43   KEY_EQUAL>,
			<0x72   KEY_X1>,
			<0x5f   KEY_SETUP>,
			<0x25   KEY_DIRECT_SEEDING>,
			<0x24   KEY_REVIEW>,
			<0x21   KEY_ON_DEMAND>,
			<0x20   KEY_INFO1>;
	};

	/* rk new remote */
	ir_key6 {
		rockchip,usercode = <0xfe01>;
		rockchip,key_table =
			<0xec   KEY_ENTER>,
			<0xe6   KEY_BACK>,
			<0xe9   KEY_UP>,
			<0xe5   KEY_DOWN>,
			<0xae   KEY_LEFT>,
			<0xaf   KEY_RIGHT>,
			<0xee   KEY_HOME>,
			<0xe7   KEY_VOLUMEUP>,
			<0xef   KEY_VOLUMEDOWN>,
			<0xbf   KEY_POWER>,
			<0xbe   KEY_MUTE>,
			<0xb3   KEY_MENU>,
			<0xff   388>,
			<0xb1   KEY_1>,
			<0xf2   KEY_2>,
			<0xf3   KEY_3>,
			<0xb5   KEY_4>,
			<0xf6   KEY_5>,
			<0xf7   KEY_6>,
			<0xb9   KEY_7>,
			<0xfa   KEY_8>,
			<0xfb   KEY_9>,
			<0xfe   KEY_0>,
			<0xbd   KEY_EQUAL>,
			<0xbc   KEY_SETUP>,
			<0xf0   KEY_LOCAL>,
			<0x0d   KEY_DIRECT_SEEDING>,
			<0x0c   KEY_REVIEW>,
			<0x0b   KEY_ON_DEMAND>,
			<0x0a   KEY_INFO1>,
			<0x0e   KEY_CH_CUT_BACK>;
	};

	/* for IPTV gd */
	ir_key7 {
		rockchip,usercode = <0x4cb3>;
		rockchip,key_table =
			<0x31   KEY_ENTER>,
			<0x3a   KEY_BACK>,
			<0x35   KEY_UP>,
			<0x2d   KEY_DOWN>,
			<0x66   KEY_LEFT>,
			<0x3e   KEY_RIGHT>,
			<0x7f   KEY_VOLUMEUP>,
			<0x7e   KEY_VOLUMEDOWN>,
			<0x23   KEY_POWER>,
			<0x63   KEY_MUTE>,
			<0x6d   KEY_1>,
			<0x6c   KEY_2>,
			<0x33   KEY_3>,
			<0x71   KEY_4>,
			<0x70   KEY_5>,
			<0x37   KEY_6>,
			<0x75   KEY_7>,
			<0x74   KEY_8>,
			<0x3b   KEY_9>,
			<0x78   KEY_0>,
			<0x73   KEY_PAGEDOWN>,
			<0x22   KEY_PAGEUP>,
			<0x72   KEY_SETUP>,
			<0x7a   KEY_CHANNEL_UP>,
			<0x79   KEY_CHANNEL_DN>,
			<0x77   KEY_HOME_PAGE>,
			<0x29   KEY_CH_CUT_BACK>,
			<0x32   KEY_DIRECT_SEEDING>,
			<0x6e   KEY_REVIEW>,
			<0x7c   KEY_ON_DEMAND>,
			<0x3c   KEY_INFO1>,
			<0x67   KEY_SOUND1>,
			<0x25   KEY_X1>,
			<0x2f   KEY_X2>,
			<0x7d   KEY_LOCAL>,
			<0x6a   KEY_PLAYPAUSE>,
			<0x0b   KEY_EQUAL>;
	};

	/* for CMCC */
	ir_key8 {
		rockchip,usercode = <0xdd22>;
		rockchip,key_table =
			<0x31   KEY_ENTER>,
			<0x6a   KEY_BACK>,
			<0x35   KEY_UP>,
			<0x2d   KEY_DOWN>,
			<0x66   KEY_LEFT>,
			<0x3e   KEY_RIGHT>,
			<0x7f   KEY_VOLUMEUP>,
			<0x7e   KEY_VOLUMEDOWN>,
			<0x23   KEY_POWER>,
			<0x63   KEY_MUTE>,
			<0x6d   KEY_1>,
			<0x6c   KEY_2>,
			<0x33   KEY_3>,
			<0x71   KEY_4>,
			<0x70   KEY_5>,
			<0x37   KEY_6>,
			<0x75   KEY_7>,
			<0x74   KEY_8>,
			<0x3b   KEY_9>,
			<0x78   KEY_0>,
			<0x73   KEY_PAGEDOWN>,
			<0x22   KEY_PAGEUP>,
			<0x72   KEY_SETUP>,
			<0x7a   KEY_CHANNEL_UP>,
			<0x79   KEY_CHANNEL_DN>,
			<0x77   KEY_HOME_PAGE>,
			<0x2f   KEY_CH_CUT_BACK>,
			<0x32   KEY_DIRECT_SEEDING>,
			<0x6e   KEY_REVIEW>,
			<0x7c   KEY_ON_DEMAND>,
			<0x3c   KEY_INFO1>,
			<0x3a   KEY_HELP>,
			<0x67   KEY_SOUND1>,
			<0x25   KEY_X2>,
			<0x7d   KEY_MENU>,
			<0x3f   KEY_EQUAL>,
			<0x29   388>,
			<0x26   KEY_PLAYPAUSE>,
			<0x76   401>,
			<0x7b   400>,
			<0x69   66>;
	};

	/* for BJLT IPTV */
	ir_key9 {
		rockchip,usercode = <0x3bc4>;
		rockchip,key_table =
			<0x81   KEY_ENTER>,
			<0x80   KEY_BACK>,
			<0x85   KEY_UP>,
			<0x87   KEY_DOWN>,
			<0x84   KEY_LEFT>,
			<0x86   KEY_RIGHT>,
			<0x99   KEY_VOLUMEUP>,
			<0x9a   KEY_VOLUMEDOWN>,
			<0x96   KEY_POWER>,
			<0x9b   KEY_MUTE>,
			<0x89   KEY_1>,
			<0x8a   KEY_2>,
			<0x8b   KEY_3>,
			<0x8c   KEY_4>,
			<0x8d   KEY_5>,
			<0x8e   KEY_6>,
			<0x8f   KEY_7>,
			<0x90   KEY_8>,
			<0x91   KEY_9>,
			<0x88   KEY_0>,
			<0x83   KEY_PAGEDOWN>,
			<0x82   KEY_PAGEUP>,
			<0x95   KEY_SETUP>,
			<0x97   KEY_CHANNEL_UP>,
			<0x98   KEY_CHANNEL_DN>,
			<0xc6   KEY_LOCAL>,
			<0xd6   KEY_HOME_PAGE>,
			<0xd7   KEY_TRACK>,
			<0xcc   KEY_CH_CUT_BACK>,
			<0xc3   KEY_INTERX>,
			<0xd1   KEY_DIRECT_SEEDING>,
			<0xd2   KEY_REVIEW>,
			<0xd3   KEY_ON_DEMAND>,
			<0xd4   KEY_INFO1>,
			<0xc7   KEY_DIRECT_SEEDING>,
			<0xc8   KEY_REVIEW>,
			<0xc9   KEY_ON_DEMAND>,
			<0xca   KEY_INFO1>,
			<0xcd   KEY_FAVORITE>,
			<0xce   KEY_CHANNEL_POS>,
			<0xcf   KEY_HELP>,
			<0xd0   KEY_EVENT>,
			<0x9c   KEY_SOUND1>,
			<0x93   KEY_X1>,
			<0x92   KEY_X2>,
			<0xc0   KEY_END>,
			<0xc1   KEY_GO_BEGINNING>,
			<0x9d   KEY_PLAYPAUSE>,
			<0xc4   KEY_STOP>,
			<0x94   KEY_EQUAL>,
			<0x9e   KEY_YELLOW>,
			<0x9f   KEY_BLUE>,
			<0xcb   KEY_APPLICATION>,
			<0xc5   KEY_POS>;
	};
	
	ir_key10 {
		rockchip,usercode = <0xff00>;
		rockchip,key_table =
			<0xf9	KEY_HOME>,
			<0xbf	KEY_BACK>,
			<0xfb	KEY_MENU>,
			<0xaa	KEY_ENTER>,
			<0xb9	KEY_UP>,
			<0xe9	KEY_DOWN>,
			<0xb8	KEY_LEFT>,
			<0xea	KEY_RIGHT>,
			<0xeb	KEY_VOLUMEDOWN>,
			<0xef	KEY_VOLUMEUP>,
			<0xf7	KEY_MUTE>,
			<0xe7	KEY_POWER>,
			<0xfc	KEY_POWER>,
			<0xa9	KEY_VOLUMEDOWN>,
			<0xa8	KEY_PLAYPAUSE>,
			<0xe0	KEY_VOLUMEDOWN>,
			<0xa5	KEY_VOLUMEDOWN>,
			<0xab	183>,
			<0xb7	388>,
			<0xe8	388>,
			<0xf8	184>,
			<0xaf	185>,
			<0xed	KEY_VOLUMEDOWN>,
			<0xee	186>,
			<0xb3	KEY_VOLUMEDOWN>,
			<0xf1	KEY_VOLUMEDOWN>,
			<0xf2	KEY_VOLUMEDOWN>,
			<0xf3	KEY_SEARCH>,
			<0xb4	KEY_VOLUMEDOWN>,
			<0xa4	KEY_SETUP>,
			<0xbe	KEY_SEARCH>;
	};

	ir_key11 {
		rockchip,usercode = <0xfb04>;
		rockchip,key_table =
			<0xa3 KEY_ENTER>,
			<0xe4 388>,
			<0xf5 KEY_BACK>,
			<0xbb KEY_UP>,
			<0xe2 KEY_DOWN>,
			<0xe3 KEY_LEFT>,
			<0xb7 KEY_RIGHT>,
			<0xe0 KEY_HOME>,
			<0xba KEY_VOLUMEUP>,
			<0xda KEY_VOLUMEUP>,
			<0xe6 KEY_VOLUMEDOWN>,
			<0xdb KEY_VOLUMEDOWN>,
			<0xbc KEY_SEARCH>, 
			<0xb2 KEY_POWER>,
			<0xe5 KEY_POWER>,
			<0xde KEY_POWER>,
			<0xdc KEY_MUTE>,
			<0xa2 KEY_MENU>,
			<0xec KEY_1>,
			<0xef KEY_2>,
			<0xee KEY_3>,
			<0xf0 KEY_4>,
			<0xf3 KEY_5>,
			<0xf2 KEY_6>,
			<0xf4 KEY_7>,
			<0xf7 KEY_8>,
			<0xf6 KEY_9>,
			<0xb8 KEY_0>;
	};	

};

&pwm4 {
	status = "okay";
};

&pwm5 {
	status = "okay";
};

&pwm7 {
	status = "okay";
};



&dsi1 {
	status = "disabled";
};

&spdif_8ch {
	status = "disabled";
};



&pcie2x1 {
	reset-gpios = <&gpio1 RK_PB2 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_pcie>;
	status = "disabled";
};




/*
//rk3568-android.dtsi
/delete-node/ &combphy0_us;
*/

&nocp_cpu {
	reg = <0x0 0xfe102000 0x0 0x100>;
};

&nocp_gpu_vpu_rga_venc {
	reg = <0x0 0xfe102400 0x0 0x100>;
};

&nocp_npu_vdec {
	reg = <0x0 0xfe102800 0x0 0x100>;
};

&nocp_vi_usb_peri_pipe {
	reg = <0x0 0xfe102c00 0x0 0x100>;
};
&nocp_vo {
	reg = <0x0 0xfe103000 0x0 0x400>;
};

&threshold {
	temperature = <60000>;
};
